---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.usa-logo {


    .usa-logo-img {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    float: left;
    height: 3rem;
    margin-right: 0.75rem;
    }

    .usa-logo-text {
        margin-top: 0.75rem;
        float: left;
        font-size: 1.5rem;
        color: black;
    }
}
